[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/dmlc/dmlc-core
[submodule "HalideIR"]
	path = HalideIR
	url = https://github.com/dmlc/HalideIR
[submodule "dlpack"]
	path = dlpack
	url = http://github.com/sidedish/dlpack
[submodule "sophon-metainfo"]
	path = sophon-metainfo
	url = http://github.com/sidedish/sophon-metainfo
